[2020-02-04 00:37] johnrjj opened #17 "web3.eth.subscribe("alchemy_fullPendingTransactions") not a valid subscription"
Hey there, Alchemy team!

Trying to use the new `alchemy_fullPendingTransactions` feature (https://github.com/alchemyplatform/alchemy-web3/pull/15), but it doesn't seem to be working. I get the following stack trace when attempting to subscribe to `alchemy_fullPendingTransactions` (the correct channel per the docs):

[code]

Below is a snippet of code I'm using, it's just a basic React hook that r

[2020-02-04 17:42] dphilipson commented on #17
Hi @johnrjj , let me look into this for you. To start, can you tell me what version of alchemy-web3 you're on?

[2020-02-04 18:35] johnrjj commented on #17
@dphilipson  Here's a CodeSandbox with a working repro: https://codesandbox.io/s/gracious-black-3l4cf

I am using the latest version (v0.1.10)

[2020-02-04 18:54] dphilipson commented on #17
Thank you very much for the repro! I've found the problem and just published a fix in version 0.1.11.

The problem was that alchemy-web3 was incorrectly looking for the string `alchemy_newFullPendingTransactions` instead of `alchemy_fullPendingTransactions`. Even though I wrote a note in the readme about the need to watch out for this because it's confusing, I still got confused and got in wrong i

[2020-02-04 19:14] johnrjj commented on #17
No worries at all, works now -- going to close this; Thanks for the quick fix! Have a good one!

[2020-02-04 19:14] #17 closed

[2020-03-24 23:30] johnrjj opened #19 "Hex to Decimal function is broken"
https://github.com/alchemyplatform/alchemy-web3/blob/master/src/index.ts#L237-L260 incorrectly converts hex values to decimals in some cases.

Please consider using web3-util's version instead, as it is already installed and quite robust.

Given the valid hex value `0x0000000000000000000000000000000000000000000000004563918244f40072` (i.e. 5 DAI) the function will incorrectly convert it to `500` in

[2020-03-25 00:00] #19 closed

[2020-03-25 00:01] dphilipson commented on #19
Thank you so much for the report! This fix is published in version 1.1.13.

[2020-12-14 08:24] mila1808 opened #28 "Not supported method eth_getBlockByNumber"
I've initiated the Alchemy web (version: `"@alch/alchemy-web3": "^0.1.18"`) as follows

[code]
But, I get the following error
[code]

[2020-12-14 09:31] dphilipson commented on #28
Hi @mila1808,

What call are you making which triggers that request?

[2020-12-14 09:33] mila1808 commented on #28
@dphilipson
`getTransactionReceipt`

[2020-12-14 09:34] mila1808 commented on #28
`getTransactionReceipt`

[2020-12-14 09:44] dphilipson commented on #28
Would you be able to post sample code which triggers this bug? I haven't been able to reproduce. What I tried:

[code]
which prints as expected:
[code]

[2020-12-14 10:15] mila1808 commented on #28
Actually, my current code invokes a 3rd party smart contract. I'm not very sure the exact method that results in the call of `getTransactionReceipt`.
But apparently that, the method `eth_getBlockByNumber` provided by Alchemy web3 has some issue?

[2020-12-14 17:28] dphilipson commented on #28
Can you clarify how `getTransactionReceipt` is involved then? How do you become aware that it's involved?

[2020-12-14 17:35] mila1808 commented on #28
I get the following error when switching to Alchemy web3. This error doesn't happen when using Metamask provider
I don't remember exactly which triggers the call of the method `eth_getBlockByNumber`
Could you try calling the method `eth_getBlockByNumber`? See if same error or not?

[code]

[2020-12-14 17:46] dphilipson commented on #28
Sure. Trying this:
[code]
prints the expected
[code]
while making the request
[code]

[2020-12-14 17:51] mila1808 commented on #28
Thanks for your trying.
Now, I can see the difference.

Yours
`{"method":"eth_getBlockByNumber","params":["0xaeb80f",false],"jsonrpc":"2.0","id":4}`

Mine
`{"jsonrpc":"2.0","id":75,"method":"eth_getBlockByNumber","params":[null,false]}`

Then, by whatever reason, the method `eth_getBlockByNumber` is invoked with `null` block number as input param.
Then, it is not Alchemy problem. I'll close this i

[2020-12-14 17:51] #28 closed

[2020-12-17 08:20] mila1808 opened #29 "Unsupported method [eth_sendTransaction]"
Below is the code snippet for initiating `web3` with Alchemy provider

[code]

Request

`{"jsonrpc":"2.0","id":44,"method":"eth_sendTransaction","params":[{"from":"0xa7fc2009cc8b36997ef533dec396d6b4b00760e4","value":"0x16345785d8a0000","gas":"0x249f0","data":"0x4faa8a26000000000000000000000000a7fc2009cc8b36997ef533dec396d6b4b00760e4","gasPrice":"0x49504f80","to":"0xbbd7cbfa79faee899eaf900f13c9065b

[2021-01-14 03:42] mila1808 opened #30 "web3.eth.estimateGas throws Error"
Code snippet for `web3` creation is as follows:

`web3 = createAlchemyWeb3('https://eth-goerli.alchemyapi.io/v2/-Dm....your...key')`

Error is thrown from the `estimateGas` call as follows:

`web3.eth.estimateGas({ data, to, from, value })`

Error is:

Node error: {"code":-32000,"message":"invalid opcode: opcode 0xdb not defined"}
    at Function.validate (web3-providers.umd.js:112)
    at CustomP

[2021-01-17 06:04] mila1808 commented on #30
I've self found out the crash root cause that is because the input arg of `to` is accidentally `NULL`.
This happened only for when using Alchemy web3 version `0.1.18` which is based on a very old version of `web3.js` of `1.0.0-beta.55`. I don't know why Alchemy has grabbed this obsolete version despite the latest release is just several months ago.
Indeed, with the above version combination, the c

[2021-01-18 12:12] gokulsan opened #31 "Using Notify API in Alchemy Web3"
Is it possible to use the Notify API of Alchemy Platform with alchemy-web3. Could you please share some examples.

[2021-01-27 12:21] mila1808 opened #32 "Metamask warning "MetaMask no longer injects web3""
1. Environment

Web browser with Metamask version `9.0.3`

2. Problem

The method `createAlchemyWeb3` is now causing the Metamask warning `MetaMask no longer injects web3`
Pls see this screenshot

![Screenshot from 2021-01-27 19-20-06](https://user-images.githubusercontent.com/62562267/105990214-c20e9180-60d4-11eb-9056-cff64a0e55e8.png)

[2021-02-21 13:14] sambacha commented on #32
Are you using the websocket connection?

[2021-02-22 18:40] dphilipson commented on #32
This should be fixed in version 1.0.0. Please let me know if the problem persists.

[2021-02-22 18:40] #32 closed

[2021-03-30 22:53] tothandras opened #37 "With injected provider (MetaMask) web3.eth.sendTransaction fails"
### Description

I encounter this error when I try to call to a contract for the browser:

![image](https://user-images.githubusercontent.com/4157749/113066309-9eda8e00-91ba-11eb-87ef-a77383dd1cf2.png)

The transaction is accepted in the MetaMask popup.

### Snippet

[code]

[2021-03-31 11:31] lbalazs7 commented on #37
We just run into the same error... :(

[2021-03-31 22:09] dphilipson commented on #37
Hello all,

Thank you for the report! I have reproduced the bug and am working on a fix. I'll let you know when I have more information.

[2021-04-01 01:11] dphilipson commented on #37
This should be fixed in version 1.0.2. Thank you once again for the report!

[2021-04-01 01:11] #37 closed

[2021-04-02 11:06] tothandras commented on #37
Thank you @dphilipson!

[2021-08-04 23:54] elie222 opened #55 "Unable to catch error when using alchemy web3. Works for regular web3"
We fetch auctions but the smart contract throws an error when the auction doesn't exist.
We don't mind about that and just want to skip the error.

This line works for web3 but shows an Unhandled Promise error when using this library:

[code]

[2021-08-23 18:43] kingjerod opened #57 "Support contracts send with EIP1559 (no manually signing a custom transaction)"
The legacy style of using contracts looks like this:
[code]

If I remove gasPrice it still sends it as a legacy transaction. If I add `maxPriorityFeePerGas` then I get this error:

[code]

I've tried setting gasPrice to undefined but it doesn't help.

I'm able to get it to work following your tutorial here:
https://docs.alchemy.com/alchemy/tutorials/hello-world-smart-contract/interacting-with-a-sm

[2021-08-25 00:17] Alasano commented on #55
I have to remember to always check issues on Github before I pull my hair out. 💡

Same issue, just switched to regular web3 and it resolved it.

In my case it's with `contract.methods.METHOD.call()`

[2021-08-25 01:42] brg8 commented on #57
Hi @kingjerod thanks for the submission! Just wanted to let you know I've seen this and will take a look tomorrow.

[2021-09-04 20:21] j4ys0n opened #61 "value specified in transaction results in wrong amount"
from the readme:
[code]
here's my code:
[code]
results in a transaction for `4722.366483` ETH. what's wrong here?

i tried using a different BN library but it results in the same thing.

[2021-09-04 20:33] j4ys0n commented on #61
ok, when i convert from decimal to hex, it works. this feels like a bug.

[2021-09-19 22:45] goodspeed3 opened #62 "web3.eth.personal.ecRecover calls alchemy & returns uncaught Error 400 undefined"
I'm trying to sign a message and recover it using web3.  The wrapper seems to make a network call, which arguably shouldn't happen with ecRecover.

To reproduce, use this code:

[code]

![image](https://user-images.githubusercontent.com/5751035/133945378-69e0e1b0-64b1-4a0a-aba0-101ec7109a02.png)

Oh, and not using the Alchemy Web3 wrapper works perfectly.

[2021-10-31 21:39] woodydeck opened #68 "Dist Folder Missing"
This repo comes in typescript without comments, and without any sort of idea what is going on under the hood. I don't know where to find the unminified build so I can take out all the bloat in Web3 I don't need. The minified file is a whopping 1.4MB. It's far too big for something that just needs basic contract calls, and goes out over mobile.

[2021-11-03 07:44] Elyx0 opened #70 "Bundling on nodejs throws (probably types)"
[code]
[code]

When I look at package.json I see:
https://github.com/alchemyplatform/alchemy-web3/blob/master/package.json#L67 Shouldn't they be in dev-dependencies?

Node: 14.17.1
Env: netlify serverless function

[2021-11-03 07:47] Elyx0 commented on #70
nvm, seems it was on me in the netlify config itself,
adding
[code]
fixed it for now

[2021-11-03 07:47] #70 closed

[2021-11-19 22:05] davidLeonardi opened #73 "Types for patched EIP1559 methods not available"
in src/index.ts we find this:

[code]

Yet unfortunately when using these methods in typescript, no types are found for the patched methods.

Please provide correct types

[2021-11-21 16:03] mehranhydary opened #74 "Error getting token balances when using web3.alchemy.getTokenBalances"
Hi there, I have the following code:

[code]

For some reason, the request gives me an error...
[code]

Can someone help me figure out why this is happening? Thanks!

[2021-12-11 01:37] ecom24 commented on #74
Same issue for me.

[2021-12-11 16:40] ecom24 commented on #74
So I did some investigation to try and work out when this issue crept in.

All versions from 1.1.4 onwards, up to at least 1.1.9 (the current version as I write this) have this issue. Versions 1.1.3 and before do not have this issue, at least down as far as 1.1.0.

So, while not an ideal solution, and understanding that you won't be benefitting from improvements introduced from version 1.1.4 onwar

[2021-12-31 02:31] defido commented on #74
That is correct. 1.1.3 works, latest throws an error.

[2022-01-26 23:59] rharriso opened #81 "Type Error when updating to v1.11.1"
There seems to be some issue with the types exports for `@alch/alchemy-web3` v1.1.11.

[code]

I wasn't able to see anything strange in the build or structure of the types file between 1.1.9 (working) and 1.1.11.

[2022-02-04 12:27] gpalshin opened #85 "Module not found errors"
Hi, I have several errors of the same type when I try to use `require("@alch/alchemy-web3")`. I'm following [this guide](https://docs.alchemy.com/alchemy/tutorials/nft-minter)

Errors look like:

`Compiled with problems:`

`ERROR in ./node_modules/cipher-base/index.js 3:16-43`

`Module not found: Error: Can't resolve 'stream' in '/home/.../node_modules/cipher-base'`

`BREAKING CHANGE: webpack < 5

[2022-02-04 23:53] dlazares commented on #81
I'm also not seeing AssetTransfersCategory exported. My autocomplete generates this import
`import {AssetTransfersCategory} from "@alch/alchemy-web3/dist/esm/alchemy-apis/types";` which results in this error

[code]

I recently updated from 1.1.9 => 1.1.12

[2022-02-05 00:20] dphilipson commented on #81
Sorry for the trouble on this. I'm working on a fix.

[2022-02-05 00:31] #81 closed

[2022-02-05 00:33] dphilipson commented on #81
Fix is published in v1.2.1. Really sorry for the inconvenience!

[2022-02-05 00:45] dlazares commented on #81
Thanks for hopping on this so fast. You made my day :)

[2022-02-06 14:28] outdoteth opened #89 "getNFTs with contractAddresses filter does not work"
It fails to filter out the other addresses. For example on Ropsten:

[code]

Response includes addresses other than "0x18e132bE028b77e6bb9bE98620bB335005077907":
![Screenshot 2022-02-06 at 14 24 32](https://user-images.githubusercontent.com/37438950/152685474-29558c32-a583-41ab-a5d4-af1b2dac80e1.png)

On closer inspection of the network tab, the library is sending the following params:

[code]

Bu

[2022-02-06 20:12] outdoteth commented on #89
Hmm, so I haven't confirmed this but I suspect this issue was introduced in this PR:
https://github.com/alchemyplatform/alchemy-web3/pull/82

See this issue here: https://github.com/medialize/URI.js/issues/3

If I change it to be this then it works:

[code]

![Screenshot 2022-02-06 at 20 12 30](https://user-images.githubusercontent.com/37438950/152699545-5e81fa7d-c500-4be1-8f11-1316a53250f3.png)

[2022-02-06 22:24] dphilipson commented on #89
Hi there, thank you for the report! I am working on a fix.

[2022-02-06 23:04] #89 closed

[2022-02-06 23:07] dphilipson commented on #89
Fix published in 1.2.2. Thank you very much for the report and sorry for the trouble!

[2022-02-07 19:35] dlazares opened #91 "alchemyapi.io vs alchemy.com"
Running into `Error: Alchemy specific rest endpoints are not available with our legacy endpoints on alchemyapi.io, please switch over to alchemy.com` on version 1.2.1. When I switch the URL, I get `FetchError: request to https://eth-mainnet.alchemy.com/REMOVED_PII_API_KEY_FOR_GITHUB/v1/getNFTs/?owner=0xeB94Bd011F6b794B6C846457b85Efa895D2DD744 failed, reason: connect ETIMEDOUT 23.45.205.250:443`

T

[2022-02-08 20:07] dphilipson commented on #91
Thank you for the report! The fix is published in version 1.2.3.

[2022-02-08 20:07] #91 closed

[2022-02-08 20:26] joshslee commented on #85
I'm running into this issue too. @gpalshin were you able to resolve it by chance?

[2022-02-08 21:19] gpalshin commented on #85
@joshslee In my case, the error occurs when using [@alch/alchemy-web3](https://www.npmjs.com/package/@alch/alchemy-web3) or [web3](https://www.npmjs.com/package/web3) with the latest version of React. I managed to run the compiled tutorial, but with a big number of hard and critical vulnerabilities.

You can try to use [ethers](https://docs.ethers.io/v5/) instead of alchemy-web3:
`npm install ethe

[2022-02-10 06:37] joshslee commented on #85
@gpalshin thanks for sharing! good news is that it looks like it's known issue for webpack 5 that's being resolved. I managed to do a hacky work-around it, credit: https://github.com/facebook/create-react-app/issues/11756

<img width="972" alt="v5_used_to_include_polyfills_for_node_js_core_modules_by_default_·_Issue__11756_·_facebook_create-react-app" src="https://user-images.githubusercontent.com

[2022-02-11 15:07] fatiherdogan01 opened #95 "Does it support sendTransaction method in React Native?"
I am trying to implement `sendTransaction` method in React Native.
I can't connect to crypto wallets.
Should i use a package like `walletConnect`?
Do you have an example of this?

[2022-02-11 15:22] metaversedev commented on #85
I am having a similar issue, I have added the three dependencies above to my package.json file however, I am still getting the same error. Can you please explain/show how you got the error messages to go off?

[2022-02-13 00:18] RyanWilkins opened #96 "web3.alchemy.getTransactionReceipts() doesn't return the same typing as defined in TransactionReceiptsResponse"
When running `web3.alchemy.getTransactionReceipts()`, you receive a `TransactionReceiptsResponse`, which contains an array of `TransactionReceipt` in the `receipts` key.

These `TransactionReceipt` objects are typed using the web3.js `TransactionReceipt` interface, which defines the following:

[code]

Looking at one of the actual elements it returns, there are some differences:

[code]

Namely -

[2022-02-13 04:39] thebrianchen commented on #96
@RyanWilkins Thanks for catching this! Will have a fix out for this sometime next week.

[2022-02-14 19:39] #96 closed

[2022-02-19 21:52] elie222 opened #99 "withMetadata for getNfts"
The docs have an option to fetch metadata when fetching nfts. This package doesn't support it:

Docs: https://docs.alchemy.com/alchemy/enhanced-apis/nft-api/getnfts#parameters

Types for this package:

[code]

[2022-02-23 17:11] thebrianchen commented on #99
@elie222 Thanks for flagging this! Will get something out in the coming week or two.

[2022-02-23 22:40] seldomatt commented on #74
Getting this same error... I can bump down to the last working version but wondering if there is a planned fix for this or an alternative part of the `alchemy-web3` API that would allow me to use the latest `alchemy-web3` version?

[2022-02-23 23:01] thebrianchen commented on #74
@seldomatt Which version of alchemy-web3 are you using? I'm using the latest version (1.2.4), and it works fine for me.

[2022-02-23 23:02] thebrianchen commented on #95
@fatiherdogan01 This package is specifically for using Alchemy as a node provider. For a package with wallet support, check out [ethers.js](https://docs.ethers.io/v5/).

[2022-02-23 23:02] #95 closed

[2022-02-24 06:09] JackCurrie commented on #99
@thebrianchen our team is very excited for this feature, thank you!

[2022-02-24 06:24] JackCurrie opened #101 "Unable to easily access properties on `getNftMetadata`response"
**Code**
[code]

**Response**
<img width="1265" alt="Screen Shot 2022-02-23 at 10 16 16 PM" src="https://user-images.githubusercontent.com/15962247/155468836-751d5928-aa88-46ca-a586-310f1149669e.png">

**Description of Problem**
while fetching an NFT, I am trying to access a few properties inside the `metadata` property on the response such as `external_url` and `animation_url`. I realize that the

[2022-02-24 17:36] thebrianchen commented on #74
@seldomatt Can you share a stack trace of the error if you have one?

[2022-02-24 19:02] seldomatt commented on #74
@thebrianchen sure! Stacktrace below:

[code]

The `index.js` file is from `web3` lib I believe..

[2022-02-24 19:22] thebrianchen commented on #74
@seldomatt I was hoping the stack trace would have some more info :(

I can't seem to repro the issue in my dummy web-app with the same code. Can you repro this in a package that I can repro with and investigate?

My current hypothesis is that you may have a conflicting dependency of `web3-eth-abi` that has a different definition of `decodeParameters`. Appreciate your help!

[2022-02-24 23:17] thebrianchen commented on #101
@JackCurrie Thanks for filing a well thought-out FR!

I'm currently tackling is part of resolving #99 in the PR: #100. I'm planning on adding the few most common ones like `name` and `description`. I'm extending changing `NftMetadata` to `NftMetadata extends Record<string, any>`, which should allow you to access any attributes not listed.

[2022-02-24 23:19] JackCurrie commented on #101
Awesome, thank you @thebrianchen , appreciate the quick response! 👍

[2022-02-25 03:10] #99 closed

[2022-02-25 03:10] #101 closed

[2022-02-25 09:58] laygir opened #102 "Revert reason is not returned while it shows on Alchemy dashboard"
Hello,

I'm trying to get the revert reason of a transaction on my frontend.
When using Alchemy I get the error on the screenshot and notice there is no `revert reason`.
But on the Alchemy dashboard, I can see the revert reason `speed invalid` as expected.

![image](https://user-images.githubusercontent.com/772730/155693773-4ead25fb-9017-4042-98c7-bc1474ba6fd2.png)

![image](https://user-images.gi

[2022-02-27 17:39] himanshu64 opened #104 "Cannot read properties of undefined (reading 'includes')"
Node => v17.3.0
NPM => 8.3.0

 "react-scripts": "5.0.0",
"@alch/alchemy-web3": "^1.2.4",

sendRestPayload.js:17 Uncaught TypeError: Cannot read properties of undefined (reading 'includes')
    at makeRestPayloadSender (sendRestPayload.js:17:1)
    at makeAlchemyContext (alchemyContext.js:15:1)
    at createAlchemyWeb3 (index.js:20:1)
    at Module../src/services/mint.js (mint.js:7:1)
    at Module

[2022-02-27 19:27] himanshu64 commented on #104
**craco.config.js**

const webpack = require("webpack");
const Dotenv = require('dotenv-webpack');

module.exports = {
  webpack: {

    configure: {
      resolve: {
        fallback: {
          "os": require.resolve("os-browserify/browser"),
          zlib: require.resolve("browserify-zlib"),
          stream: require.resolve("stream-browserify"),
          util: require.resolve("util"),

[2022-02-27 19:27] #104 closed

[2022-03-01 14:08] ishancs opened #105 "Uncaught TypeError: Cannot read properties of undefined (reading 'includes')"
import {pinJSONToIPFS} from './pinata.js'
require('dotenv').config();
const alchemyKey = process.env.ALCHEMY_KEY;
const { createAlchemyWeb3 } = require("@alch/alchemy-web3");
const web3 = createAlchemyWeb3(alchemyKey);
const contractABI = require('../contract-abi.json')
const contractAddress = process.env.CONTRACT_ADDRESS;

export const mintNFTWeb3 = async (url, name, description) => {
  //error h

[2022-03-02 13:50] ishro-app commented on #105
It was issue with undefined value from const alchemyApiUrl = process.env.ALCHEMY_API_URL;

[2022-03-02 13:51] ishancs commented on #105
It was issue with undefined value from const alchemyApiUrl = process.env.ALCHEMY_API_URL;

[2022-03-02 13:51] #105 closed

[2022-03-07 17:24] thebrianchen commented on #68
@woodydeck We're currently exporting both the minified and non-minified files. Under `/dist` you'll find both `alchemyWeb3.js` and `alchemyWeb3.min.js`. This was added in November 2021.

Marking the issue as closed but feel free to follow up with any other questions!

[2022-03-07 17:24] #68 closed

[2022-03-09 16:55] brucdarc opened #108 "500 Internal server with npm package on getNFTMetadata, bypassing try/catch statement outside of the npm package"
Details:

Error thrown on line 58 of sendRestPayloaddist/cjs/web3-adapter/sendRestPayload.js seems to bypass outside try catch statements of outside program calling web3.alchemy.getNftMetadata.

Whenever this error occurs and a 500 internal server error comes back from a call, the outside program exists immediately without entering any outside try/catch statements, even if the whole program is wra

[2022-03-09 17:42] thebrianchen commented on #108
@brucdarc Can you provide a repro or a code sample? AFAIK, the library should catch and automatically retry errors.

[2022-03-11 19:10] psawaya opened #109 "TypeScript error when using DEFAULT_TOKENS with getTokenBalances"
Your [docs](https://docs.alchemy.com/alchemy/enhanced-apis/token-api#alchemy_gettokenbalances) say valid values for the second parameter are:

However, I get

when I call

      'foo',
      'DEFAULT_TOKENS',
    );

[2022-03-11 19:31] thebrianchen commented on #109
@psawaya Our package implements it a little differently. If you omit the `contractAddresses` parameter, it will populate `DEFAULT_TOKENS` automatically. See the [documentation](https://github.com/alchemyplatform/alchemy-web3#web3alchemygettokenbalancesaddress-contractaddresses)

Marking this issue as closed but feel free to ask any other questions you may have!

[2022-03-11 19:31] #109 closed

[2022-03-14 18:19] thebrianchen commented on #74
Closing due to inactivity but happy to reopen with more information!

[2022-03-14 18:28] thebrianchen commented on #85
This is a documented issue with webpack 5. You can read more about how to add the missing polyfills manually in the web3 [documentation](https://github.com/ChainSafe/web3.js#web3-and-create-react-app).

I'm going to mark this issue as closed but feel free to ask any other questions you may have!

[2022-03-14 18:28] #85 closed

[2022-03-15 00:42] thebrianchen commented on #102
@laygir I dug into this some more, and the error reason is being dropped in the web3.js library.

In [utils._fireError](https://github.com/ChainSafe/web3.js/blob/b32555cfeedde128c657dabbba201102f691f955/packages/web3-utils/src/index.js#L42), the error string is being created without `error.reason` which contains the `speed invalid` error we hit in the contract ([link](https://github.com/ChainSafe/

[2022-03-15 01:36] thebrianchen commented on #61
This has seen been fixed. Running the asme code snippet will send 1ETH.

Closing the issue, but feel free to ask any other questions you may have.

[2022-03-15 01:36] #61 closed

[2022-03-15 14:00] laygir commented on #102
Hey @thebrianchen
Thank you for taking your time, really appreciate it! 🙏

Do you know how Alchemy dashboard handles this and able to display user friendly message on the dashboard?

Meanwhile just create awareness, I also have an issue open on ChainSafe side, perhaps your finding could help anybody out there who could make a PR on this.

https://github.com/ChainSafe/web3.js/issues/4787

[2022-03-15 17:22] thebrianchen commented on #62
@goodspeed3 Apologies for the delay in getting back to you, but I was able to reproduce this. Will investigate and update the issue accordingly.

[2022-03-16 00:36] #62 closed

[2022-03-16 00:56] thebrianchen commented on #108
@brucdarc I'm having trouble reproducing this locally, even with your code snippet. If it's not too much work, can you create a repro in a package that I could download and run?

[2022-03-22 00:35] #73 closed

[2022-03-31 07:14] PavlosIsaris opened #115 "web3.eth.getMaxPriorityFeePerGas is not a function"
I am using version `1.3.0` of the library, and I am trying the following:

[code]
But there is no `getMaxPriorityFeePerGas` method defined. Am I doing something wrong?

[2022-03-31 14:46] thebrianchen commented on #115
@PavlosIsaris I'm able to do run the following snippet on `1.3.0`.

[code]

The resulting output from my run was: `0x3b9aca00`. If you continue to have issues, please post a repro, thanks!

[2022-04-01 07:40] PavlosIsaris commented on #115
@thebrianchen thanks, it works!

[2022-04-01 07:40] #115 closed

[2022-04-07 08:52] supachaic opened #116 "Property 'contractAddress' does not exist on type 'TokenBalance'"
I got this error in my editor after trying to get token balance.
The result after calling API look like this.

const balances: TokenBalancesResponse = {
  address: <owner_address>,
  tokenBalances: [
    {
      contractAddress: '0xBCa9c16d41BF2b9AE42f96d240015c8B5cb22DB7',
      tokenBalance: '7973019999999999999879',
      error: null
    }
  ]
}

Then I tried to get tokenBalances[0].contractAdd

[2022-04-07 12:47] alexisdavidson opened #117 "Cannot read properties of undefined (reading 'includes')"
Hi, Im using alchemy within a React app but I get the following error:

[code]

Any help would be appreciated

[2022-04-07 19:52] thebrianchen commented on #116
@supachaic Thanks for catching and flagging this. You're correct in that the `TokenBalanceSuccess` and `TokenBalanceFailure` interfaces should have `contractAddress` instead of `address` as the property. Will have this fixed in an upcoming release.

[2022-04-07 21:02] #117 closed

[2022-04-11 19:23] #116 closed

[2022-04-21 20:13] sblackstone opened #126 "Usage in React"
Using this inside React (react scripts v4.0.3) I'm getting the following error occuring, not always on page load but somewhat randomly.

[code]

I'm unsure exactly what is causing this, but it appears to be from the underlying `web3.js` having dependencies from node and hence on process.

Do you have any suggestions?  Am I doing something wrong here?

[2022-05-05 13:25] KjetilVaa opened #128 "AlchemyWeb3.eth.subcribe("logs", { topics: [] }) does not filter on topic array length like the composer"
Version: 1.2.2

Using this topic filter: https://composer.alchemyapi.io?share=eJxti70KgzAURl_l3NlBExOjY_fSsUuUcvOnUmNEU1oQ372hQ6cOHxw_ztlBDzjO0OQZzDa_wvr4srdxCOaK3kIDie_9jZfQb5DBgiv6G05Pu0Ejd3Br8Ocp6BTChNFuMUkx.LmWUacEpGwhfxvjCCNoCmWJFrXitSYq58JpWgmDWDOisHIFp7rEouBEOMawNI4Rqqh1LXTZSf7WwdEdH05iQOM-

All logs returned should have a topic length of 4 (as specifiec by the query.). The Alchemy composer

[2022-05-06 10:51] dminglv opened #129 "FR: Support NFT metadata refreshes"
Hello! I burned the token, but for some reason AlchemyAPI returns it anyway.

Network: **Polygon Mumbai**
API request: **getNFTs**

[code]

[2022-05-06 13:10] KjetilVaa commented on #128
Example response the I get from AlchemyWeb3.eth.subscribe but not from the compose:

`{
  "address": "0xFc0d6Cf33e38bcE7CA7D89c0E292274031b7157A",
  "topics": [
    "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef",
    "0x0000000000000000000000009b7fa79317a864c54b0bdf852a932613f8540f3f",
    "0x000000000000000000000000d1df645e3e15fb252e7dbd39e2bf6851d8f93f72"
  ],
  "data": "0x

[2022-05-06 15:54] #108 closed

[2022-05-06 15:55] thebrianchen commented on #126
You will need to process, since React doesn't bundle them anymore. See this Stackoverflow [link](https://stackoverflow.com/questions/64557638/how-to-polyfill-node-core-modules-in-webpack-5) for more details.

Closing the issue since this is not a problem with alchemy-web3.

[2022-05-06 15:55] #126 closed

[2022-05-09 17:43] thebrianchen commented on #129
@dminglv Thanks for writing in! The NFT API does immediately process metadata changes since we have no way of knowing when the underlying metadata URL on the NFT changes. Alchemy will periodically check for metadata updates, and we're currently working on a feature to allow users to manually refresh their NFT metadata. Stay tuned!

[2022-05-16 19:29] #128 closed

[2022-05-16 20:31] thebrianchen commented on #128
@KjetilVaa Thanks for flagging this issue! The Alchemy Composer has the correct behavior. Geth nodes return logs with topic array length greater than or equal to the number of topics in the filter. This was a bug in our internal websocket implementation and has now been fixed to match the Geth node behavior thanks to @dphilipson.

[2022-05-17 14:30] damianlluch opened #130 "TX not exist with Alchemy"
Hi, I don't know if this is the right place, apologies in any case, I have created a test token in Rinkeby (OpenSea), and I am trying to transfer it without going through the web, but directly through the contract.
I have now the problem with the safeTransferFrom(..) after executing the setApprovalForAll().
The setApprovalForAll() runs fine, and I can see its hash and the transaction check.
Now, w

[2022-05-18 17:41] thebrianchen commented on #130
@damianlluch This seems like a question with the underlying OpenZeppelin contracts handled by web3 and is out of scope for the github repo. Your best bet is to ask in Alchemy's discord server: https://discord.com/invite/mMGsVgd

[2022-05-25 16:21] LouisPinsard commented on #74
Hello !
I am having the exact same issue and stack trace with this call (latest alchemy-web version).

@thebrianchen have you tried reproducing on nodejs 16 ?

[2022-05-25 18:00] thebrianchen commented on #74
@LouisPinsard I tried reproing on node v12, 14, and 16, but couldn't get the repro. If you could create a repro app with it, that would be super helpful! Thanks!

[2022-06-03 12:18] tg44 commented on #74
I have this too... Falling back to fetch. Also, it would be nice to know what are the 100 tokens, for example in Rinkeby.

[2022-06-15 15:45] kellyshang opened #133 "[Bug] getNFTs cannot return the ENS name which was expired but re-registered"
**Network**: Ethereum
**API request**: getNFTs

**Description**:
When there is an ENS name (e.g. `snowkey.eth` ) which was expired but re-registered, the `getNFTs` api returns as `unknown.name`

![image](https://user-images.githubusercontent.com/28836185/173869659-82b192d8-1eb7-46d8-af0a-ddcb697b21c2.png)

[code]

[2022-06-17 21:00] alex-lighthouse opened #134 "Incorrect types for NftMetadata.image"
Network: Ethereum
API request: getNFTs

Easiest way to replicate: /getNFTs on wallet address 0x2bdeA27111B606551a1D3c19c0e8c73e0081ecBA

One NFT has metadata.image and the other has metadata.image_url

I get that this is not exactly an issue with the typing but more at the API level. Feel free to redirect this issue anywhere that would be best to address it.

Thanks!

[2022-06-17 21:07] alex-lighthouse opened #135 "Incorrect types for NftMedia"
Network: Ethereum
API request: getNFTs

Easiest way to replicate: /getNFTs on wallet address 0x2bdeA27111B606551a1D3c19c0e8c73e0081ecBA (I guess that any wallet would do)

The [types](https://github.com/alchemyplatform/alchemy-web3/blob/ce90abf2d8700590574d15000aaf57bae8f41fe7/src/alchemy-apis/types.ts#L94) defined in @alch/alchemy-web3 v1.4.2 are media.uri.gateway and media.uri.raw where as the A

[2022-06-20 15:19] thebrianchen commented on #134
@alex-lighthouse Thanks for filing an issue! The fields under `metadata` are the raw metadata that Alchemy has scraped from the original metadata url in the NFT, so we have no control over the names of the fields.

The `media` and `tokenUri` field contain Alchemy's best effort at parsing the metadata. Most NFTs list the image url field as `image`, rather than `image_url`, so the particular NFT you

[2022-06-20 15:19] #134 closed

[2022-06-20 15:47] #135 closed

[2022-06-20 16:45] thebrianchen commented on #74
Reopening since multiple people have reported this issue.

[2022-06-20 22:35] #74 closed

[2022-06-21 02:30] thebrianchen commented on #133
@kellyshang Thanks for filing the bug! I was able to repro this. Will update this issue once I get more information.

[2022-06-21 16:13] thebrianchen commented on #133
@kellyshang I found that the underlying metadata URL for the snowkey NFT was correct, but the cached metadata was outdated. I refreshed the metadata and it seems to be working fine for me now.

We're working on improving our metadata refresh rate, but If you find a particular NFT's metadata is stale, you can refresh the NFT metadata manually. It's currently a feature on our new [beta SDK](https://

[2022-06-21 16:13] #133 closed

[2022-06-21 16:14] thebrianchen commented on #129
@dminglv We're working on improving our metadata refresh rate, but If you find a particular NFT's metadata is stale, you can refresh the NFT metadata manually. It's currently a feature on our new [beta SDK](https://www.alchemy.com/alchemy/enhanced-apis/nft-api/reingestcontract) as `refreshNftMetadata()`.

[2022-06-22 13:57] kellyshang commented on #133
@thebrianchen Thanks for your help, it working fine for me now.

[2022-07-01 09:09] wong2 opened #138 "Subscription api inconsistent with document"
The document https://docs.alchemy.com/alchemy/enhanced-apis/subscription-api-websockets#alchemy_pendingtransactions and typings of this SDK are not consistent in method name and args, I'm not sure which one should I trust.

[2022-07-01 16:00] thebrianchen commented on #138
@wong2 Thanks for filing the issue. We're currently on the next version of the SDK at https://www.npmjs.com/package/@alch/alchemy-sdk. The Subscription API was recently updated with the new params, and I'll have a PR out shortly to reflect these new changes.

[2022-07-02 06:42] r4881t opened #139 "Conflicting definitions for 'node'"
I have a project with dependencies as

[code]

Upon building the project with `tsc --project ./` I get the following error.

[code]

I understand this may be out of scope for this repo, but any help is appreciated.

[2022-07-02 20:04] r4881t commented on #139
I thought that this is due to `dotenv` package; and I reorganised my repo into a monorepo to have different dependencies and all that jazz, but after that I am again facing this error. This time, my `package.json` looks like below

[code]

And I am getting error for

[code]

[2022-07-02 20:14] r4881t commented on #139
I am able to resolve the second error by adding following to my `tsconfig.json`

[code]

[2022-07-02 20:14] #139 closed

[2022-07-07 19:37] GarvMaggu opened #141 "Getting too many net_version requests on Alchemy Node"
This is my alchemy account, I'm using createAlchemyWeb3 method for a socket connection to an Alchemy Node.
I'm not sending any "net_version" requests but it's consuming around 1 million compute units every day.
How can I prevent the module to avoid sending these many net_version requests?

![image](https://user-images.githubusercontent.com/17963209/177857567-2cc9f1cb-8ad0-40a7-853a-147c9a9ea3cb.pn

[2022-07-08 17:51] thebrianchen commented on #141
Hey @GarvMaggu! This is unexpected since we shouldn't charge for `net_version`. Can you share your app team/id with support@alchemy.com? Thanks!

[2022-07-08 17:59] GarvMaggu commented on #141
Hi @thebrianchen! Yes, I'm not getting charged for `net_version` requests on Alchemy, but I'm also using a few other node providers and some of them are charging for it.

Not an issue though, I switched to HTTPS provider at a few places, and now `net_version` requests are not too much.

Thank you for the info!

[2022-07-08 18:00] #141 closed

[2022-07-15 00:06] #138 closed

[2022-07-15 12:13] viktor111 opened #144 "Error when getting transaction history"
Im trying to get transaction history for address to work but get this error.

[code]

code:

[code]

[2022-07-15 16:21] thebrianchen commented on #144
@viktor111 Thanks for catching this! You'll need to also specify a `category` field, as of the new [changelog entry](https://docs.alchemy.com/alchemy/documentation/changelog#06-27-2022) from June 27. I'll submit an update to reflect this change in this library as well.

[2022-07-15 17:52] #144 closed

[2022-07-28 13:10] #129 closed

[2022-08-23 16:55] 1dNDN commented on #117
thank u, it helped me

[2022-08-30 15:17] Vivienne-CPZ opened #150 "Assettransferaspams is missing the declaration withmetadata"
Assettransferaspams is missing the declaration withmetadata

[2022-11-04 06:12] shenzhimeng opened #152 "subscribe newBlockHeaders not available"
`web3.eth.subscribe("newBlockHeaders", {
    }).on("data", async (blockHelper) => {
        console.log(blockHelper)
    })`

An error has occurred

`return new Error('Invalid number of parameters for "' + method + '". Got ' + got + ' expected ' + expected + '!');
Error: Invalid number of parameters for "newHeads". Got 1 expected 0!`

[2022-11-08 05:37] Artedys opened #153 ""getAllClaimerAddresses" get TIMEOUT ERROR"
Hi Alchemy,

I have a bug from the "getAllClaimerAddresses" :

here is the line of code:

"const walletAddresses = await editionDrop.history.getAllClaimerAddresses(0);"

===>>> give reason: 'timeout',
  code: 'TIMEOUT',
  requestBody: '{"method":"eth_getLogs","params":[{"fromBlock":"0x0","toBlock":"0x78b4ce","address":"0x3519b6ccdea895f2606f350f9d90f2cb685a6f57","topics":["0x4f72e6585331094d368e46

[2022-11-09 16:28] #153 closed, assigned to nobody

[2022-11-09 16:29] Artedys commented on #153
The update of Thirdweb with the command npm install @thirdweb-dev/sdk ethers solved the issue

[2022-11-15 08:04] GZWZC opened #155 "Uncaught ReferenceError: global is not defined"
[code]
<img width="1217" alt="image" src="https://user-images.githubusercontent.com/16217142/201863028-25f6472d-31da-4ab0-95b4-6a9220ac7ff9.png">

[2022-11-18 17:09] KhawlaSn opened #156 "GET 400 when calling web3.alchemy.getNfts(ownerAddr)"
Hello,
I get a 400 error when calling the getNfts()
More details: "Error: 400:
    at https://cdn.jsdelivr.net/npm/@alch/alchemy-web3@latest/dist/alchemyWeb3.min.js:151:19990
    at https://cdn.jsdelivr.net/npm/@alch/alchemy-web3@latest/dist/alchemyWeb3.min.js:16:1903
    at Object.next (https://cdn.jsdelivr.net/npm/@alch/alchemy-web3@latest/dist/alchemyWeb3.min.js:16:2008)
    at a (https://cdn.j